body {
    background-image: url(assets/images/tile.jpg);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;

}

h1 {
    font-family: 'Princess Sofia', cursive;
    font-size: 80px
}

.textAreaContainer {
    display: flex;
    justify-content: center;
    text-align: center;
}

.anotherContainer {
    display: flex;
}

.formArea {
    background-image: url(assets/images/formbg.jpg);
    width: 40%;
    border: 2px solid black;
}

.spacer {
    width: 100%;
    height: 17px;
    border: 0;
}

.taskBox {
    display: block;
    background-color: transparent;
    width: 100%;
    resize: none;
    border: 0;
    outline: 0;
}

.gridElements {
    background-color: transparent;
    padding-bottom: 5%;
    width: 20%;
    border: 1px solid black;
}


input[type="date"] {
    width: 30%;
}



input[type="time"] {
    width: 30%;
}



footer {
    margin: 50px;
}

td {
    background-image: url(assets/images/notebg.png);
    background-repeat: no-repeat;
    width: 200px;
    height: 250px;
    padding: 10px;
}

td>span:first-child {
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    height: 145px;
    width: 170px;
}

td>span:last-child {
    display: flex;
    justify-content: start;
    align-items: end;
    height: 70px;
    width: 170px;

}

td>span>div {
    height: 100%;
    width: 50%;
    display: grid;
    justify-content: right;
    align-items: baseline;
}

.removeButton {
    opacity: 0;
    transition: opacity 0.3s ease;

}

td:hover .removeButton {
    opacity: 1;
}

td:last-child {
    transform: 1s;
    animation: fadeIn;
    animation-duration: 0.5s;

}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.cp{
    font-family: 'Princess Sofia', cursive;
    width: 100%;
    text-align: center;
    color: aliceblue;
    background: linear-gradient(transparent, brown);
    position: fixed;
    bottom: 0;
}